#wrapper {
	margin: 50px auto;
	width: 50%;
	height:460px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	/*padding: 40px;*/
}
